name: Deploy profile-web-project on Windows Laptop with Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    name: Build Docker Image and Deploy
    runs-on: self-hosted

    steps:
      # 1. 소스 코드 가져오기
      - name: 1. Checkout source code
        uses: actions/checkout@v4

      # 2. Docker 이미지 빌드
      - name: 2. Build Docker Image
        run: docker build -t profile-web-project .

      # 3. 기존 컨테이너 중지 및 제거
      - name: 3. Stop and Remove Existing Container
        continue-on-error: true
        shell: cmd
        run: |
          docker stop profile-web-project-container
          docker rm profile-web-project-container

      # 4. 새 Docker 컨테이너 실행 (볼륨 마운트 옵션 추가!)
      - name: 4. Run New Docker Container
        run: |
          docker run -d --restart always `
          -p 8290:8290 `
          -v "C:\Projects\profile-web-project\config:/config" `
          --name profile-web-project-container `
          profile-web-project --spring.config.location=file:/config/application.yml